<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eSzkola - Logowanie</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f4f4f4;
      }

        header {
          background-color: #333;
          padding: 10px;
          color: white;
          text-align: right;
        }
    </style>
</head>
<body>

<header>
    <button>Rejestracja</button>
    <button>Logowanie</button>
</header>

<main>
    <h1>Logowanie</h1>

    <form action="/login" method="post">
        <label th:for="pesel" for="pesel">PESEL:</label>
        <input type="text" id="pesel" name="pesel" required>

        <label th:for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Zaloguj się</button>
    </form>
</main>

</body>
</html>